page-startscreen {
  .logo {
    height: 20rem;
    width: 25rem;
  }

  .logo-container {
    text-align: center;
    margin-top: 20rem;
  }

  .btn-container-pos{
    position: fixed;
    top: 47rem;
  }

  .startscreen-btn{
    width: 120px;
  }

  .signin-btn{
    width: 120px;
    margin-right: 2rem;
  }

}
