page-post {
  .inputs {
    height: 100%;
  }

  .text-input {
    height: 35rem;
  }

  .swipe {
    height: 40rem;
  }

  .slide-zoom{
    height: 100%;
  }

  .scroll-content {
    padding-bottom: 0 !important;
  }

  .submit {
    margin-top: 2rem;
  }
}
